<a href="https://colab.research.google.com/github/Kumarashu97/pythonPW/blob/main/Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
age = 32
height = 6.1
name = "krish"
is_student = True

print("age :",age)
print("height :",height)
print("name :",name)
print("is_student :",is_student)

# age : 32
# height : 6.1
# name : krish
# is_student : True

age : 32
height : 6.1
name : krish
is_student : True

Naming Convention:
variables names should be descriptive
they must start with letter or _ and contains letters,numbers

variable names are case sensitive

In [2]:
## 2age = 30  invalid var.
## first-name = "ashu" invalid var.
## @name = "krish" invalid var

In [3]:
age = 25
first_name = "ashu"
name = "krish"
height = 176.56
print(age,first_name,name,height)

25 ashu krish 176.56

In [2]:
var = 10
print(var,type(var))
var = 10.5
print(var,type(var))
var = "krish"
print(var,type(var))
var = True
print(var,type(var))

10 <class 'int'>
10.5 <class 'float'>
krish <class 'str'>
True <class 'bool'>

In [3]:
age = input("age :")
print(age,type(age))

age :19
19 <class 'str'>

In [5]:
age = int(input("age :"))
print(age,type(age))

age :19
19 <class 'int'>

Calculator:

In [6]:
a = int(input("a :"))
b = int(input("b :"))
print("a + b =",a+b)
print("a - b =",a-b)
print("a * b =",a*b)
print("a / b =",a/b)

a :12
b :12
a + b = 24
a - b = 0
a * b = 144
a / b = 1.0